/*COLORI*/

p {
    color: #f4f4f4;
}

.btn {
    color: white;
}

.btn-primary {
    background-color: #0e6cff;
}

.btn-secondary {
    background-color: #ff8700;
}

.btn-tertiary {
    background-color: #4caf50;
}

header {
    background-color: #640fc5;
}