@import '_overwrite-bootstrap.scss';

.purple {
    color: rgb(180, 26, 180);
}

.bgP {
    background-color: rgb(180, 26, 180);
}

.bp {
    border: 1px solid;
    border-color: rgb(180, 26, 180);
}

.bla {
    color: chartreuse;
}